@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@layer base{
  button {
    cursor: pointer;
  }
  /* input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  } */
}

:root{
  /* Custom color palette for Logo */
  --textdark: #c0131c;
  --textlight: #d4545b;
  --background: #df7c81;
  --gradientend: #efb1b4;
}




