@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Public Sans", sans-serif;
}

.glass-effect {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-gradient {
    background: radial-gradient(circle at top right, rgba(99, 102, 241, 0.15), transparent),
                radial-gradient(circle at bottom left, rgba(20, 184, 166, 0.1), transparent);
}

@layer base{
  button {
    cursor: pointer;
  }
  /* input:not([type="checkbox"]) {
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  } */
}

:root{
  /* Custom color palette for Logo */
  --textdark: #c0131c;
  --textlight: #d4545b;
  --background: #df7c81;
  --gradientend: #efb1b4;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}




